<link href="/css/istyles.css" rel="stylesheet" type="text/css"/>


  <h1>Hi, <span><%= name %></span></h1>
<form action="/logout?_method=DELETE" method="POST">
  <div class="center">
    <button type="submit" class="btn btn-primary btn-block">Log Out</button>
  </div>
</form>

